@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body {
    background: #24261c;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  h1 {
      color: whitesmoke;
  }
